# LaTeX stuff
# ===========
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dic
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.run.xml

*_full.htx
*_tmp.tex
*.bak
*~

*.sublime-workspace

# Images
# ======
*.JPG
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.xcf
*.svg
*.ppm
*.pbm

*.pdf

# Misc
# ====
*.odt
*.doc
*.docx
